<a href="https://colab.research.google.com/github/AzizIskandarov/AzizIskandarov/blob/main/Copy_of_Homework1_Aziz_Iskandarov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("My name is", name, "and my age is", age)

What is your name? Aziz
What is your age? 20
My name is Aziz and my age is 20

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print('a is equal to b')
else:
  print('a is not equal to b')

a is not equal to b

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  print('First number is greater')
else:
  print ('First number is equal or less than second number')

First number is equal or less than second number

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while (i>0):
  print(i)
  i=i-1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
  if k==8:
    continue
  print(k)

10
6
4
2
0

In [ ]:
#Solution with hint
for k in range(10,-1,-2):
  if k!=8:
    print(k)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(x):
   return 2022-x
print(age(1944))

78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y

print(arithmetic.addition(6,8))
print(arithmetic.substraction(13,4))
print(arithmetic.multiplication(4,5))
print(arithmetic.division(12,6))

14
9
20
2.0

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
num1=float(input("Enter the first number : "))
num2=float(input("Enter the second number : "))
op=input("Enter the type of the operation *, /, +, - : ")
if op=="*":
  a=(num1 * num2)
  print("The multiplication is ", a)
elif op=="/":
  if num2==0:
    print('It is not defined')  
  else:
    a=((num1)/ (num2))
    print("The division is ", a)
elif op=="+":
  a=num1+num2
  print("The addition is ", a)
elif op=="-":
  a=num1-num2
  print("The substraction is ", a)
else:
  print("For this context it is not defined")

#Actually, it not solution with the class,(solution with the class is mentioned above with again named Q8) however I generally write algoritm for addition, substraction, multiplication and division of two numbers.

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
sum=0
n=int(input("Enter n: "))
for i in range(1, n + 1):
  sum=sum+i
print("Summation of first", n, "number is", sum)

Enter n: 50
Summation of first 50 number is 1275

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import numpy as np
k=[]
for n in range(0,11):
  k.append(np.random.rand())
print(k[0:3])

[0.27775978612363095, 0.8843802697372575, 0.3336353306380855]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=int(input("Enter n : "))
for k in range (1, n+1):
  if k%3==0:
    print(k)

Enter n : 10
3
6
9